html {
    font-size: 62.5%;
    line-height: 1.4;

}

body {
    font-size: 1.6rem;
    font-family: "Roboto";
}

.row {
    display: flex;
}

.conteudo {
    border: 1px solid black;
    padding: 1.6rem;
    flex: 70%;
}

h1,h2,h3,h4,h5,h6 {
    padding: none !important;
    margin: none !important;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
}

a:link,a:visited {
    text-decoration: none;
    color:black;
}

ul {
    list-style-type:none;
}

table, th, td {
    border: 1px solid black;
}