html {
    /* Definimos o tamanho padrão da fonte para 62.5, tornando 1 REM = 10px */
    font-size: 62.5%;
    /* Ajustamos a altura da linha para 1.4, para facilitar a leitura */
    line-height: 1.4;
}

body {
    /* Definimos que o tamanaho da fonte do corpo é de 16px */
    font-size: 1.6rem;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    /* removemos as setas do input tipo DATE, economizando espaço */
  -webkit-appearance: none;
}

td,input,select {
    /* definimos que todos TD, input e select possuam apenas 5px de padding */
    padding:5px !important;
}