html {
    font-size: 62.5%;
    line-height: 1.4;

}

body {
    font-size: 1.6rem;
    font-family: "Roboto";
}

.row {
    display: flex;
}

h1,h2,h3,h4,h5,h6 {
    padding: none !important;
    margin: none !important;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
}

ul {
    list-style-type:none;
}